.list__header{
  position: relative;
  margin-top: 4rem;
}
.list__description{}

.list__title a,
.list__title {
  line-height: 1;
  margin-bottom: 0;
  color: var(--text-color);
}
.list__nav{
  width: auto;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}

/* Single list page */
.section--single-list{}
.section--single-list .list__description{}