.list__header{
  position: relative;
  margin-top: 4rem;
}
.list__description{
  font-style: italic;
  color:  #999;
  margin-top: 0;
  margin-bottom: 1rem;
}
.list__title {
  line-height: 1;
  margin-bottom: 0;
}
.list__nav{
  width: auto;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0;
  margin: 0;
}