.project__section{}

.project__section > header{
  border-bottom:  none;
  margin-bottom: 6rem;
}

.project__title{}

.project__menu{
  width: auto;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
}
