section#change-password,
section#login,
section#activate-account{
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
section#change-password h1,
section#login h1,
section#activate-account h1{
  margin-bottom: 3rem;
}
section#change-password form *,
section#login form *,
section#activate-account form *{
  width: 100%;
}

#form-add-user{
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid var(--medium-grey);
}

#form-edit-task{}
#form-edit-task textarea,
#form-edit-task input{
  width: 100%;
}

#edit-list-form{}
#edit-list-form textarea,
#edit-list-form input{
  width: 100%;
}

#form-edit-project{}
#form-edit-project textarea,
#form-edit-project input{
  width: 100%;
}

#modal-project-update{}
#modal-project-update ul.checkbox-list{
 columns: 100px 2;
}

/* Dashboard  */
.dashboard__section{}
.dashboard__section section > ul{
  padding-left: 1rem;
  list-style: circle;
}
.dashboard__section-users{}
.dashboard__section-projects{}

/* TRIX EDITOR */
.trix-content ul,
.trix-content ol{
  margin-block-start: 1.1rem;
  margin-block-end: 1.5rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 1.5rem;
}