section#login{
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
section#login h1{
  margin-bottom: 1rem;
}
section#login form *{
  width: 100%;
}

#form-add-user{
  padding: 2rem;
  border-radius: 5px;
  border: 1px solid var(--medium-grey);
}

#form-edit-task{}
#form-edit-task textarea,
#form-edit-task input{
  width: 100%;
}

#edit-list-form{}
#edit-list-form textarea,
#edit-list-form input{
  width: 100%;
}

#form-edit-project{}
#form-edit-project textarea,
#form-edit-project input{
  width: 100%;
}

#modal-project-update{}
#modal-project-update ul.checkbox-list{
 columns: 100px 2;
}
