.task-list{
  padding: 0;
  list-style: none;
}
.task-list li{
  list-style: none;
  margin-bottom: 10px;
}

.task__title:not(.task__section .task__title){
  font-size: 1.3rem;
  font-weight: 300;
}
.task__title:hover{}

.task__checkbox{
  margin-left: -20px;
  margin-right: 5px;
  transform: scale(1.4);
  position: relative;
  top: -3px;
}

.task__is_completed .task__title{
  color: var(--medium-grey);
  text-decoration: line-through;
}
.task__is_completed .task__handle{
  color: var(--medium-grey);
}

.task__handle{
  cursor: grab;
  color: var(--link-color);
  margin-right: 5px;
}

.task__menu{
  width: auto;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
}

.task__menu-trigger{
  cursor: pointer;
  padding: 3px 5px;
  border-radius: 5px;
}
.task__menu-trigger:hover{
  background-color: var(--medium-grey);
}

.task__menu-content{
  background-color: var(--medium-grey);
  margin-top: 1rem;
  padding: 1rem;
  box-sizing: border-box;
}
.task__menu-content ul{
  padding: 0;
}

/* Single task page */
section.task__section{}

section.task__section label.checkbox-square .checkbox__desc{
  margin-top: -15px;
}

section.task__section .task__description{
  font-size: 1.3rem;
  font-weight: 300;
  padding-left: 49px; 
  margin: 20px auto 50px;
}
section.task__section > header{
  border: none;
}
section.task__section .task__title{
  line-height: 1.2;
}