/* CONTACT CARD */
#contacts{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.contact__list .contact-card{
  width: 100%;
}

@media screen and (min-width: 678px) {
.contact__list .contact-card{width: calc( (100% / 2) - 1rem);}
}

.contact-card{
  box-sizing: border-box;
  padding: 3rem 2rem;
  background-color: var(--light-purple);
  margin-bottom: 2rem;
  border-radius: 5px;
  position: relative;
}

.contact-card__img{
  object-fit: cover;
  height: 200px;
  width: 200px;
  max-width: 100%;
  max-height: auto;
  border-radius: 99999px;
  position: relative;
  margin:  0 auto;
  display: block;
  padding: 7px;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
  text-align: center;
  margin-bottom: 2rem;
  transition: all ease-in-out 0.5s;
}

.contact-card__img:hover{
  transform: scale(1.8);
}

.contact-card__name{
  font-weight: bold;
  margin-bottom: 0;
  text-align: center;
}
.contact-card__title{
  font-style: italic;
  margin-top: 0.5rem;
  text-align: center;
}

.contact-card__description{}

.contact-card__contact-info{
  margin-top: 2rem;
}
.contact-card__contact-info ul{
  margin: 0;
  padding: 0;
}
.contact-card__contact-info li{
  list-style: none;
  margin-bottom: 10px;
}
.contact-card__contact-info li .icon{
  margin-right: 10px;
  width:15px;
  display: none;
}

.contact-card__label{
  color:var(--dark-grey);
  font-size: 1rem;
  font-weight: bold;
  margin-right: 10px;
  width: 80px;
  display: inline-block;
}

.contact-card__label [class^="icon-"]{
  margin-right: 5px;
}

.contact-card__title,
.contact-card__name{
  text-transform: capitalize;
}

.contact-card__email,
.contact-card__phone{
  text-transform: lowercase;
}
.contact-card footer {
  margin-top: 3rem;
  text-align: right;
}

/* LIST VIEW */

li.current-user{}
li.current-user a{
  padding: 4px 5px;
  background-color: var(--link-color);
  color: #fff;
  border-radius: 5px;
}

/* Single view */
.user{}
.user header{
  text-align: center;
  margin-bottom: 4rem;
}
.user footer{
  /*text-align: center;*/
  margin-top: 4rem;
}
.user__img{
  object-fit: cover;
  height: 210px;
  width: 210px;
  border-radius: 99999px;
  position: relative;
  margin: 0 auto;
  display: block;
  padding: 7px;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(0,0,0,0.1);
  transition: all ease-in-out 0.5s;
}
.user__img:hover{
  transform: scale(2);
}
.user__description{
  font-size: 1.1rem;
}
.user__name{
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 0;
}
.user__title{
  font-style: italic;
  margin-top: 0.5rem;
}
.user__contact{
  width: auto;
  display: inline-block;
  text-align: left;
}
.user__contact .contact-card__contact-info{margin: 0;}
.user__phone,
.user__email{
  font-size: 1rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-transform: lowercase;
  background-color: #eee;
  box-sizing: border-box;
  border-radius: 5px;
  margin-right: 5px;
}

