DirectoryIndex index.php
<IfModule mod_rewrite.c>
RewriteEngine on

# Remove extention .php from files
RewriteRule ^index\.php$ - [L,NC]

# Remove trailing slash
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*[^/])/$ /$1 [L,R] 

# If the request is not for a valid directory
RewriteCond %{REQUEST_FILENAME} !-d
# If the request is not for a valid file
RewriteCond %{REQUEST_FILENAME} !-f
# route to index.php in current directory
RewriteRule ^(.+)$ index.php [L,QSA] 

</IfModule>